.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-container_selector{

  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-checkbox {
    margin-bottom: 20px;
  }
  
  .submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  