.adoption-modal {
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.666667%;
    margin-top: 100px;
    margin-left: 100px;

    .adoption-container {
        background: #B2D1E7;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 1em;

        p{
            font-size: 1.5vw;
            color: #055895;
            text-align: center;
            font-weight: 900;
        }

        .adoption-select {

            .adoption-select_interactions {

                p {
                    margin-bottom: 34px !important;
                }

                .adoption-selector {
                    border: 2px solid white;
                    box-sizing: border-box;
                    border-radius: 10px;
                    display: flex;
                    overflow: hidden;
                    width: 100%;
    
                    .adoption-input {
                        display: none; /* Oculta los inputs de radio */
                    }
    
                    .adoption-label {
                        align-items: center;
                        background: transparent;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        width: 50%;
                        transition: all 0.5s ease-out;
    
                        .modal-adoption_image {
                            height: 75%;
                            display: block;
                            margin: 0 auto;
                            max-height: 50px;
                        }
    
                        &.selected {
                            background-color: #055895;
                        }
                    }
                }

                .label-adress-btn {
                    position: relative;
                    display: block;

                    .adoption-adress-select {
                        border: 2px solid white;
                        box-sizing: border-box;
                        border-radius: 10px;
                        display: flex;
                        overflow: hidden;
                        width: 100%;
                        background: #B2D1E7;
                        font-family: 'Nunito', sans-serif;
                        color: #055895 !important;
                        padding: 0.5em 3.1em;
                        font-size: 1.1vw;
                        font-weight: 900;
                    }
                }
            }
        }

        .adoption-modal_button {
            color: white !important;
            font-size: 1.2vw;
            font-family: 'Nunito', sans-serif;
            background: #055895;
            padding: 0.6em 1em 0.5em;
            border-radius: 10px;
            box-sizing: border-box;
            border: 2px solid #055895;
            transition: background 0.5s ease-out, color 0.5s ease-out;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            margin-top: 30px;
        }
    }
}
